<div class="row">
    <div class="large-6 medium-6 small-6 columns">
        <span style="font-size:0.8em;float:left;">
            <a onclick="sort(null, null)"> <%= image_tag "broom.png", size: "24", alt: "Clear filters", title: "Clear filters" %></a>
            <%= page_entries_info @disruptions %>
        </span>
    </div>
    <div class="large-6 medium-6 small-6 columns">
        <span style="font-size:0.8em;float:right;">
            <i>Last updated: <span id="lastUpdateTime" style="font-weight:bold;"><%= @lastUpdateTime %></span></i>
        </span>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table id="disruptionsTable" width="100%">
            <thead>
            <tr>
                <th width="20"><%= sortable("route", "Route").html_safe %></th>
                <th width="20"><%= sortable("run", "Direction").html_safe %></th>
                <th>
                    <%= sortable("fromStopLBSLCode", "From").html_safe %>
                    <sup data-tooltip aria-haspopup="true" class="has-tip" title="Stop <strong>from</strong> which disruption is observed.">*</sup>
                </th>
                <th>
                    <%= sortable("toStopLBSLCode", "To").html_safe %>
                    <sup data-tooltip aria-haspopup="true" class="has-tip" title="Stop <strong>to</strong> which disruption is observed.">*</sup>
                </th>
                <th width="110">
                    <%= sortable("delayInSeconds", "Delay").html_safe %>
                    <sup data-tooltip aria-haspopup="true" class="has-tip" title="WMA (Weighted moving average) delay observed across the given section(in minutes).">*</sup>
                </th>
                <th width="110">
                    <%= sortable("routeTotalDelayInSeconds", "Total delay").html_safe %>
                    <sup data-tooltip aria-haspopup="true" class="has-tip" title="Total delay observed across the route in the given direction(in minutes).">*</sup>
                </th>
                <th width="70">
                    <%= sortable("trend", "Trend").html_safe %>
                    <sup data-tooltip aria-haspopup="true" class="has-tip" title="If disruption is worsening (<span style=color:#FF5468;>&#8593;</span>) and if it is improving (<span style=color:#4DFA90;>&#8595;</span>) else (<span style=color:#FABE4D;>&#8597;</span>).">*</sup>
                </th>
                <th width="110">
                    <%= sortable("firstDetectedAt", "Detected").html_safe %>
                         <sup data-tooltip aria-haspopup="true" class="has-tip" title="Time when the system has first detected the disruption.">*</sup>
                </th>
                <th width="100" style="text-align: center;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @disruptions.each do |disruption| %>
                <tr class="<%= "hidden" if disruption.hide %>">
                    <td>
                        <%= getLinkToBusRoute(disruption.route, disruption.getRunString).html_safe %>
                    </td>
                    <td style="text-align: center;" sorttable_customkey="<%= disruption.run %>">
                        <%= image_tag disruption.getRunString.downcase+".png", size: "32", title: disruption.getRunString, class: "has-tip", title: disruption.getRunString, "data-tooltip" => "", "aria-haspopup" => true %>
                    </td>
                    <td>
                        <%= getLinkToBusStop(disruption.fromStop).html_safe %>
                    </td>
                    <td>
                        <%= getLinkToBusStop(disruption.toStop).html_safe %>
                    </td>
                    <td class="delayCell <%= disruption.delayColor %>"><%= disruption.getDelay %></td>
                    <td class="delayCell <%= disruption.totalDelayColor %>"><%= disruption.getTotalDelay %></td>
                    <td class="trendCell <%= disruption.trendColor %>"><%= raw(disruption.trendSymbol) %>
                    </td>
                    <td> <%= disruption.getDetectedAt %></td>
                    <td style="text-align: center;">
                        <a onclick="details(<%=disruption.id%>)">
                            <!--<a href="<= disruption_details_url(id: disruption.id) %>" data-reveal-id="revealModal" data-reveal-ajax="true">-->
                            <%= image_tag "details.png", size: "24", alt: "Show more details", title: "Show more details about disruption", class: "has-tip", "data-tooltip" => "", "aria-haspopup" => true  %>
                        </a>
                        <a href="<%= disruption_comments_url(id: disruption.id) %>" data-reveal-id="revealModal" data-reveal-ajax="true">
                            <%= image_tag "comments.png", size: "24", alt: "Show comments", title: "Show comments about disruption", class: "has-tip", "data-tooltip" => "", "aria-haspopup" => true  %>
                        </a>
                        <% if (session[:operatorId] != nil) %>
                            <% if disruption.hide %>
                                <a onclick="hideDisruption(<%=disruption.id%>, true)"> <%= image_tag "unhide.png", size: "24", alt: "Show", title: "Show disruption", class: "has-tip", "data-tooltip" => "", "aria-haspopup" => true  %></a>
                            <% else %>
                                <a onclick="hideDisruption(<%=disruption.id%>, false)"> <%= image_tag "hide.png", size: "24", alt: "Hide", title: "Hide disruption", class: "has-tip", "data-tooltip" => "", "aria-haspopup" => true  %></a>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <% if @disruptions.total_entries > 20 %>
            <div class="apple_pagination">
                <%= will_paginate @disruptions, :container => false, :params => {:controller => "disruption", :action => "index"} %>
            </div>
        <% end %>
    </div>
</div>